<%- include('../partials/header') %> 

<!-- display a weekly table -->
<h1><%=title%></h1>
<button class="trigger">Click me to create a meal!</button><br>
<div class="modal">
    <div class="modal-content">
        <span class="close-button">&times;</span>
        <form action="/mealplans/<%=`${mealplan._id}`%>/meals" method="POST">
            <br>
            <label>Event:
                <div class="event" >
                    <textarea class="eventph" rows="5" 
                    placeholder="brunch, dinner, snack, etc" name="event"></textarea>
               </div> 
               <br><br><br>
            </label>
            <label>Start Time:
                <select name="startHour">
                    <%for(let j = 1; j < 13; j++){%>
                        <%if(j<10){%>
                            <option value="<%=`0${j}`%>"><%=`0${j}`%></option>
                        <%} else {%>
                            <option value="<%=`${j}`%>"><%=`${j}`%></option>                    
                        <%} %>
                        
                    <%}%>
                 </select>  
                 :
                 <select name="startMin">
                    <%for(let i = 0; i < 4; i++){%>
                        <%if(i===0){%>
                            <option value="00">00</option>
                        <%} else {%>
                            <option value="<%=`${i*15}`%>"><%=`${i*15}`%></option>                    
                        <%} %>
                        
                    <%}%>
                 </select>    
                 <select name="startAMPM">
                    <option value="AM">AM</option>
                    <option value="PM">PM</option>
                 </select>   
            </label><br><br>
            <label>End Time:
                <select name="endHour">
                    <%for(let j = 1; j < 13; j++){%>
                        <%if(j<10){%>
                            <option value="<%=`0${j}`%>"><%=`0${j}`%></option>
                        <%} else {%>
                            <option value="<%=`${j}`%>"><%=`${j}`%></option>                    
                        <%} %>
                        
                    <%}%>
                 </select>  
                 :
                 <select name="endMin">
                    <%for(let i = 0; i < 4; i++){%>
                        <%if(i===0){%>
                            <option value="00">00</option>
                        <%} else {%>
                            <option value="<%=`${i*15}`%>"><%=`${i*15}`%></option>                    
                        <%} %>
                        
                    <%}%>
                 </select>    
                 <select name="endAMPM">
                    <option value="AM">AM</option>
                    <option value="PM">PM</option>
                 </select>   
            </label><br><br>
            <label>Description:
                <div class="description" >
                    <textarea class="descriptionph" rows="5" 
                    placeholder="Ex: Just a snack&#x1f608; Salad for Lunch
                    &#x1f60e; &#10;or leave me empty :)" name="description"></textarea>
               </div>  <br><br><br><br>
            </label>
            <label>Days of the Week:
                <br>
                <input type="checkbox" name="Sunday" value="Sunday">Su
                <input type="checkbox" name="Monday" value="Monday">M
                <input type="checkbox" name="Tuesday" value="Tuesday">T
                <input type="checkbox" name="Wednesday" value="Wednesday">W
                <input type="checkbox" name="Thursday" value="Thursday">Th
                <input type="checkbox" name="Friday" value="Friday">F
                <input type="checkbox" name="Saturday" value="Saturday">Sa
            </label>
            <input type="submit" value="Add Meal">
        </form>
    </div>
</div>
<div class="tablewrapper">
    <table>
        <thead>
            <tr>
                <th>Time</th>
                <th>Sunday</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
            </tr>
        </thead>
        <tbody>
            <%for(let i = 0; i < 2; i++){%>
                <%for(let j = 0; j < 12; j++){%>
                    <%for(let k = 0; k < 4; k++){%>
                        <tr>
                            <td>
                                <%let str%>
                                <%if(j<10){%>
                                    <%if(j===0){%>
                                        <% str = '12'%>
                                    <%} else {%>
                                        <%str = `0${j}`%>
                                <%}} else {%>
                                    <%str = `${j}`%>
                                <%} %>
                                <% str += ':' %>
                                <%if(k===0){%>
                                    <%str += '00'%>
                                <%} else {%>
                                    <%str += `${k*15}`%>        
                                <%} %>
                                <%if(i===0){%>
                                <%str += 'AM'%>
                                <% } else { %>
                                    <%str += 'PM'%>
                                <%}%>
                                <%=str%>
                            </td>
                            <%daysEnum.forEach(function(dayOfWeek){ %>
                                <%let currTime%>
                                <%let classes = ''%>
                                <%if(i===1){%>
                                    <%currTime = j + 12%>
                                    <%if(k*15===0){%>
                                        <%currTime += '00'%>
                                    <%} else {%>
                                        <%currTime += `${k*15}`%>
                                    <%}%>
                                    <%classes = `${dayOfWeek} ${currTime} PM`%>
                                <%} else {%>
                                    <%if(j<10){%>
                                        <%if(!j){%>
                                            <%currTime = '12'%>
                                        <%} else {%>
                                            <%currTime = '0' + j%>
                                        <%}%>
                                    <%} else {%>
                                        <%currTime = j%>
                                    <%}%>
                                    
                                    <%if(k*15===0){%>
                                        <%currTime += '00'%>
                                    <%} else {%>
                                        <%currTime += `${k*15}`%>
                                    <%}%>
                                    <%classes = `${dayOfWeek} ${currTime} AM`%>
                                <%}%>
                                <td class="<%=classes%>"></td>
                            <%})%>
                        </tr>
                        
                        <%}}}%>
                    
        </tbody>
    </table>

</div>
<a href="/mealplans">Back to Meal Plans</a>
<script>
const modal = document.querySelector(".modal");
const trigger = document.querySelector(".trigger");
const closeButton = document.querySelector(".close-button");

function toggleModal() {
    modal.classList.toggle("show-modal");
}

function windowOnClick(event) {
    if (event.target === modal) {
        toggleModal();
    }
}

trigger.addEventListener("click", toggleModal);
closeButton.addEventListener("click", toggleModal);
window.addEventListener("click", windowOnClick);


</script>
<%- include('../partials/footer') %> 